@media (min-width: 576px) {
  body {
    background: white;
    font-family: "Fuzzy Bubbles", serif;
    font-size: 5vw;
  }

  .container {
    max-width: 99vw;
  }
  img {
    width: 65vh;
  }
  input[type="text"],
  #mana {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    width: 29vw;
  }

  input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
iframe {
  display: block;
  align-content: center;
  margin: auto;
}
