@media (min-width: 576px) {
  body {
    background: white;
    font-family: "Fuzzy Bubbles", serif;
    font-size: 5vw;
  }

  .button3 {
    background-color: #d60100;
    color: white;
    border: 2px solid #d60100;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .button3:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  .container {
    max-width: 90vw;
  }
  img {
    width: 65vh;
  }
  input[type="text"],
  #mana {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    width: 29vw;
  }

  input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  body {
    font-size: 3vw;
  }
}
iframe {
  display: block;
  align-content: center;
  margin: auto;
}
